body {
  font-family: Roboto;
  background-color: #000;
  color: #fff;
  margin: 0 0;
  padding: 0 0;
}

h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-top: 0rem;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  margin-top: 23px;
}

h3 {
  font-size: 1em;
  font-weight: 300;
}

h4 {
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times,
    "Times New Roman", "serif";
  font-size: 0.9em;
  font-weight: normal;
}

p {
  font-size: 0.5em;
}

a {
  color: white;
}

a:hover {
  color: #519c9f;
}

/*page*/
#page {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.wrapper {
  min-height: calc(100vh - -0.5rem);
  z-index: 3;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.wrapper-events {
  min-height: calc(0vh - -0.5rem);
  z-index: 3;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  width: 100%;
  height: auto;
  min-height: 60px;
  position: relative;
}

header::after {
  content: "";
  display: block;
  clear: both;
}

.section-title {
  display: flex;
  justify-content: center;
}

.social-links {
  display: block;
}

.nb {
  font-size: 1.5em;
  margin-top: -10px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: -0.3rem auto 0 auto;
  max-width: 90vw;
  height: 10rem;
  border-top: #f7ae1b double thick;
  border-bottom: #f7ae1b double thick;
  background-color: #000;
  background: linear-gradient(to top, #080808d6 50%, #9191916b 100%);
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.myButton {
  width: 200px;
  height: 1.8rem;
  margin: 3px 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #c9cccf;
  background-color: #000;
  background: linear-gradient(to top, #080808d6 50%, #9191916b 100%);
  background-clip: padding-box;
  border: 0.5px solid #ecd40052;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.myButton:hover {
  background: linear-gradient(to top, #e2e4e3 15%, #5c607d 100%);
  background-color: #dfdfdf;
  color: #0a0a08;
  border: none;
}

.myButton:active {
  position: relative;
  top: 1px;
}

/*logo in header logo*/
header.section-home a.main-logo {
  width: 61px;
  background: url("images/home_images/logo/logo-screen.png") no-repeat;
  background-size: contain;
  position: absolute;
  height: 55px;
  left: 20px;
  top: 12px;
  z-index: 1;
}

/*screen logo*/
.small-logo {
  width: 100%;
  height: auto;
  padding-top: 10px;
}

nav {
  padding: 70px 0 0 0;
  background-color: rgba(12, 12, 12, 0.5);
  height: 0px;
  overflow: hidden;
}

nav a.mobile_menu {
  width: 36px;
  height: 32px;
  background: url("images/home_images/mobile-icon.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -16px;
  display: block;
}

nav ul {
  list-style: inherit;
  margin: 0;
  padding: 0;
  background: rgba(12, 12, 12, 0.5);
}

nav ul li:hover {
  background-color: transparent;
}

nav ul li:hover > ul {
  display: block;
}

/*targets ul's with sub navs to be shown on hover*/
nav ul li a {
  display: inline-block;
  color: white;
  padding: 5px 0 5px 10px;
  text-decoration: none;
  position: relative;
  width: 90%;
  margin: 10px 0 0 10px;
}

nav ul li a:visted {
  color: white;
}

nav ul li a:hover {
  background-color: 4b5a7e;
}

nav ul ul {
  background-color: rgb(19 18 18 / 91%);
}

nav ul ul li {
  position: relative;
}

nav ul ul a {
  margin-left: 30px;
  width: 84%;
}

nav ul ul li a {
  border-bottom: transparent inset 0.5px;
}

nav ul ul li a:hover {
  border-bottom: white inset 0.5px;
  transition: 0.9s;
}

a:hover.events_nav,
a:hover.contact_nav,
a:hover.learn_nav,
a:hover.follow_nav {
  background-color: transparent;
  color: orange;
  transition: 0.1s;
}

.contact_nav {
  background-color: rgba(12, 12, 12, 0.5);
}

.section-title,
.learn_section,
section.video.one,
section.video.two,
.contact_section {
  width: 100%;
  text-align: center;
}

/*screen image 1*/
header .header1-img {
  width: 100%;
  height: 300px;
  background: url("images/home_web/small/top_back_exsmall.jpg") repeat-x;
  background-size: contain;
  position: absolute;
  z-index: -1;
}

/*screen image 2*/
.header1-img2 {
  height: 148px;
  background: url("images/home_web/small/bottom_back.png") repeat-x center -78px;
  z-index: -2;
}

/*New Breed Screen titile*/
.section-title {
  height: 403px;
}

h1 .bold {
  font-weight: 300;
}

.bold {
  font-weight: 300;
}

button.contact {
  padding-right: -3px;
}

button.learn,
button.events,
button.contact {
  width: 100px;
  align-items: center;
  background: url("images/home_images/logo/button.png") no-repeat top center;
  background-size: contain;
  border-radius: 10px 10px 10px 10px;
  border: none;
  color: black;
  padding: 9px 2px;
  margin: 4px 2px 10px 2px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  transition: 0.5s;
}

button.learn:hover,
button.learn:active,
button.events:hover,
button.events:active,
button.contact:hover,
button.contact:active {
  background: url("images/home_images/logo/button-hover.png") no-repeat top
    center;
  background-size: contain;
  opacity: 10;
  transition: 0.3s;
}

.is {
  width: 3.5rem;
  height: 3.5rem;
  background: rgba(0, 0, 0, 0) url("images/home_images/instagram.png") no-repeat;
  background-size: cover;
  border-style: none;
}

.is:hover {
  background-image: url("images/home_images/instagram_hover.png");
  background-color: rgba(0, 0, 0, 0);
}

.fb {
  width: 3.5rem;
  height: 3.5rem;
  background: url("images/home_images/facebook.png") no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  border-style: none;
}

.fb:hover {
  background-image: url("images/home_images/facebook_hover.png");
  background-color: rgba(0, 0, 0, 0);
}

.you {
  width: 3.5rem;
  height: 3.5rem;
  background: rgba(0, 0, 0, 0) url("images/home_images/youtube.png") no-repeat;
  background-size: cover;
  border-style: none;
}

.you:hover {
  background-image: url("images/home_images/youtube_hover.png");
  background-color: rgba(0, 0, 0, 0);
}

.tw {
  width: 3.5rem;
  height: 3.5rem;
  background: rgba(0, 0, 0, 0) url("images/home_images/twitter.png") no-repeat;
  background-size: cover;
  border-style: none;
}

.tw:hover {
  background-image: url("images/home_images/twitter_hover.png");
}

/*Learn Class section*/
.learn_section {
  width: 100%;
  background-color: black;
}

.yellow-line1 {
  background: url("images/home_images/line-ol-b.jpg") repeat-x top center;
  width: 100%;
  height: 12px;
  margin-top: 100px;
}

.yellow-line2 {
  background: url("images/home_images/line-ol-b.jpg") repeat-x top center;
  width: 100%;
  height: 12px;
}

/*Class buttons*/
.course1,
.course2,
.course3,
.course4 {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(148, 145, 145, 1);
  height: 32px;
  font-size: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: #519c9f solid;
  width: 40%;
  float: left;
  margin: 0 5%;
  padding: 0;
  transition: 0.5s;
}

.course1:hover,
.course2:hover,
.course3:hover,
.course4:hover,
.course1:active,
.course2:active,
.course3:active,
.course4:active {
  background: linear-gradient(
    -90deg,
    rgba(42, 103, 145, 0) 0%,
    rgba(51, 127, 172, 1) 77%,
    rgba(54, 135, 180, 2) 100%
  );
  opacity: 10;
  transition: 0.3s;
  color: white;
}

.buttons-class {
  width: 100%;
  margin-top: -20px;
  margin-bottom: 20px;
}

.buttons-class::after {
  content: "";
  display: block;
  clear: both;
}

/*calander section one*/
.event_section h2 {
  padding: 5px 10px;
  margin: -3px 0 40px 0;
  text-align: center;
}

.chead {
  width: 100%;
  margin-top: -40px;
}

.cal-header {
  background-color: rgba(27, 27, 27, 1);
  font-size: 2em;
  font-weight: 100;
  margin-top: -15px;
  padding: 20px;
  height: 25px;
}

.calander-header {
  background-color: rgba(27, 27, 27, 1);
  margin-top: -80px;
}

.container {
  width: 100%;
  height: 200px;
  position: relative;
  perspective: 1000;
  left: 0%;
  top: -35px;
  -webkit-perspective: 1000;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s ease;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
}

.back,
.front {
  width: 100%;
  height: 350px;
  border-radius: 6px;
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.contentfront {
  width: 100%;
  height: 100%;
  float: left;
  transform: translatez(60px);
  -webkit-transform: translatez(60px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.contentback {
  width: 100%;
  height: 100%;
  float: left;
  transform: translatez(60px);
  -webkit-transform: translatez(60px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.back {
  transform: rotateY(180deg);
  transition: 0.5s;
  background-color: #232227;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  text-transform: uppercase;
  background-color: #232227;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.date {
  height: 100%;
  width: 130px;
  background-color: #e76642;
  border-radius: 0 6px 6px 0;
  float: left;
  text-align: right;
  padding: 10px 30px;
  box-sizing: border-box;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.datecont {
  height: 100%;
  transform: translatez(60px) scale(0.9);
  -webkit-transform: translatez(60px) scale(0.9);
}

#date {
  font-size: 50px;
  color: #ecece7;
  font-weight: 500;
  float: right;
  font-family: "Montserrat", sans-serif;
}

#day {
  float: right;
  font-size: 14px;
  color: #232227;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

#month {
  float: right;
  font-size: 10px;
  color: #232227;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}

.date i {
  color: #ecece7;
  position: absolute;
  bottom: 10px;
  right: 0;
}

.date i:hover {
  color: #232227;
  transition: 0.3s ease;
}

.month {
  height: 100%;
  width: 100%;
  float: left;
  padding: 20px 20px 20px 0;
  box-sizing: border-box;
}

.month table {
  width: 100%;
  margin-left: 3%;
}

.orangeTr {
  color: #e76642;
}

.whiteTr {
  color: #ecece7;
}

.whiteTr th:hover {
  color: #e76642;
  transition: 0.3s ease;
}

.month tr {
  height: 44px;
}

.month th {
  width: 14%;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.flipped {
  transform: rotateY(-180deg);
  transition: 0.7s;
}

.backcontainer {
  width: calc(100% - 60px);
  height: calc(100% - 40px);
  margin: 20px 0 0 30px;
  background-color: #e76642;
  border-radius: 6px;
  padding: 10px 30px;
  position: relative;
  float: left;
  box-sizing: border-box;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

#sunday {
  position: absolute;
  visibility: hidden;
  top: 50px;
}

#monday {
  position: absolute;
  visibility: hidden;
  top: 60px;
}

#saturday {
  position: absolute;
  visibility: hidden;
  top: 60px;
}

.backButton a {
  color: #dddddd;
  padding: 0 0px 16px 0px;
  display: block;
}

.backButton a:hover {
  color: black;
  padding: 0 0px 16px 0px;
  display: block;
}

.last {
  position: absolute;
  left: 10px;
}

.contactme {
  padding: 15px 0 0 0;
  height: 61px;
}

.contact_container {
  position: relative;
  background: linear-gradient(to top, #080808d6 5%, #f7ae1b 100%);
  border-radius: 0.5rem;
  padding: 15px 0 15px 0;
  margin: -40px 1rem 0 1rem;
}

.submit_container {
  display: block;
  background-color: #838383;
  border-radius: 0 0 0.5rem 0.5rem;

  height: 59px;
  margin-top: 15px;
  width: 100%;
}

.firstname,
.lastname,
#email,
#textarea {
  width: 95%;
  padding: 10px 4px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ffffffc2;
  color: rgb(26, 26, 26);
}

.choose {
  width: 96%;
  padding: 10px 0;
  color: #02336c;
  font-weight: bold;
  background-color: rgba(222, 222, 222, 0.5);
  border-radius: 10px;
}

#course {
  width: 97%;
  color: #02336c;
  font-weight: bold;
  background-color: rgba(222, 222, 222, 0.5);
  padding: 10px 0;
}

option #course1a,
option #course2a {
  background-color: rgba(222, 222, 222, 0.5);
}

#textarea {
  height: 185px;
  font-family: "Inter";
}

#sub {
  color: #d4e2f1;
  background-color: #2322274a;
  border: none;
  border-radius: 12px;
  font-family: Oswald;
  font-weight: 600;
  padding: 0 2rem 0.1rem 2rem;
  font-size: 1.5em;
  margin-top: 11px;
}

#sub:hover {
  background-color: #161616;
}

.footer-text {
  background-color: black;
  padding: 14px;
  text-align: center;
}

#navButton {
  float: right;
  display: none;
  padding: 6px 11px;
  color: white;
  text-decoration: none;
}

.footer {
  height: 0.5rem;
}

.events-title,
.give-title {
  margin-top: 11rem;
  padding-top: 1.5rem;
  text-align: center;
}

.events-section {
  background: linear-gradient(to top, #080808d6 50%, #9191916b 100%);
  padding: 0 1rem;
}

.give-section {
  background: linear-gradient(to top, #080808d6 50%, #04334c 100%);
  padding: 0 1rem;
  margin-top: -8rem;
}

.events-day-container {
  background: linear-gradient(to top, #080808d6 15%, #ce6f44 100%);
  border-radius: 0.5rem;
  border-top: 1.5px solid blanchedalmond;
  margin: 2rem auto;
  padding: 0.5rem 1rem 1rem 2rem;
}

.give-container {
  background: linear-gradient(to top, #080808d6 15%, #02486c 100%);
  border-radius: 0.5rem;
  border-top: 1.5px solid blanchedalmond;
  margin: 2rem auto;
  padding: 0.5rem 1rem 1rem 2rem;
}

@media screen and (min-width: 240px) {
  .h1-give {
    margin-left: -3rem;
  }
}

@media screen and (min-width: 280px) {
  .myButton {
    width: 245px;
  }
  h1 .events-title {
    font-size: 0.5rem;
  }
  .h1-give {
    margin-left: -2rem;
  }
}

@media screen and (min-width: 320px) {
  .myButton {
    width: 82vw;
  }

  .h1-give {
    margin-left: -1rem;
  }
}

@media screen and (min-width: 400px) {
  .myButton {
    width: 58vw;
  }
  .buttons {
    margin-top: 0.5rem;
    width: 62vw;
  }
  .small-logo {
    max-width: 418px;
  }
  .vid-1-wrapper {
    background: url(images/course_web/small/video_bottom_small.jpg) repeat-x
      center 154px;
  }
  .h1-give {
    margin-left: 0;
  }
}

@media screen and (min-width: 480px) {
  #page {
    margin-top: 30px;
  }
  header {
    width: 100%;
    height: 60px;
    position: relative;
  }
  header .header1-img {
    background-size: cover;
  }
  .small-logo {
    margin-top: -20px;
  }
  nav {
    background-color: transparent;
    position: absolute;
    top: -33px;
    right: 12px;
    width: 496px;
    overflow: visible;
  }
  nav a.mobile_menu {
    display: none;
  }
  nav ul {
    list-style: none;
    margin: -80px 0 0 10px;
    padding: 0;
  }
  nav ul li:hover {
    background-color: transparent;
  }
  /*targets ul's with sub navs to be shown on hover*/
  nav ul li:hover > ul {
    display: block;
  }
  nav ul li a {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    width: 80px;
    position: relative;
    border: none;
  }
  nav ul li a:visted {
    color: white;
  }
  nav ul ul {
    position: absolute;
    top: 162%;
    display: none;
    background-color: rgba(12, 12, 12, 0.8);
  }
  nav ul ul li {
    position: relative;
  }
  nav ul ul li a {
    margin-left: 2px;
    border-bottom: transparent inset 0.5px;
  }
  nav ul ul li a:hover {
    border-bottom: white inset 0.5px;
    transition: 0.9s;
  }
  /* .instagram_nav, .class1_nav {margin-top: 40px;} */
  a:hover.events_nav,
  a:hover.contact_nav,
  a:hover.learn_nav,
  a:hover.follow_nav {
    background-color: transparent;
    color: orange;
    transition: 0.9s;
  }
  .contact_nav {
    background-color: transparent;
  }
  /*top level nav pointing to imediate parent*/
  nav > ul {
    padding-left: 15%;
  }
  nav > ul > li {
    float: left;
  }
  nav > ul > li > a {
    width: auto;
    padding: 10px 8px;
    background-color: rgba(0, 0, 0, 0);
  }
  .video1-img {
    background: url("images/course_web/medium/video_back_medium.jpg") no-repeat
      center -30px;
    background-size: 100%;
  }
  .video.one h3 {
    margin-top: 65px;
    /* transition: 0.5s; */
  }
  .video.two h4 {
    margin-top: 20px;
  }

  #navButton {
    display: none !important;
  }
}

@media screen and (min-width: 605px) {
  header .header1-img {
    background-image: url("images/home_web/large/top_back_large.jpg");
    background-size: inherit;
  }

  #navButton {
    display: none !important;
  }
}

@media screen and (min-width: 730px) {
  .section-title {
    height: auto;
  }

  header .header1-img {
    background: transparent url("images/top_back.jpg") no-repeat top;
    background-size: contain;
  }
  .nb div.header1-img2 {
    background: transparent url("images/home_web/medium/bottom_back_medium.jpg")
      repeat-x center 34px;
    background-size: contain;
  }

  .header1-img2 {
    display: none;
  }

  h1 {
    font-size: 2.5em;
  }

  h1::before {
    content: "";
    display: block;
    float: left;
    background: transparent url(images/home_web/medium/hourse_medium.png)
      no-repeat center -4px;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    left: 0;
    position: absolute;
    z-index: -1;
  }

  .small-logo {
    display: none;
  }

  .event_section h2,
  .contact_section h2,
  .give-section h2 {
    font-size: 3.5rem;
  }

  .give-title {
    margin-bottom: 0;
  }

  .give-section {
    margin: -8rem auto 0 auto;
    width: 42rem;
    border-radius: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .myButton {
    max-width: 580px;
    height: 3rem;
  }
  .buttons {
    max-width: 600px;
    height: 14rem;
  }
  h1 {
    font-size: 3em;
  }
  .event_section {
    display: flex;
    justify-content: center;
    margin: 3rem;
  }

  .contact_section {
    margin: 0 auto 0 auto;
    width: 53rem;
  }

  .contact-wrap {
    padding: 0 2rem;
  }

  .give-section {
    margin: -8rem auto 0 auto;
    max-width: 54rem;
    border-radius: 0.5rem;
  }
}

@media screen and (min-width: 1134px) {
  .events-section {
    margin: -3rem auto 0 auto;
    width: 1042px;
    border-radius: 0.5rem;
  }

  .give-section {
    margin: -8rem auto 0 auto;
    width: 1042px;
    border-radius: 0.5rem;
  }
}

@media screen and (min-width: 1320px) {
  .section-title {
    justify-content: end;
    padding-right: 20rem;
  }

  h1 {
    margin-top: 2rem;
    font-size: 4em;
  }

  h1::before {
    background: transparent url(images/home_web/medium/hourse_medium.png)
      no-repeat;
    background-position: -1rem -2rem;
    background-size: contain;
  }

  .buttons {
    height: 18rem;
  }

  .myButton {
    height: 3.5rem;
  }

  .social-links {
    margin-top: 2rem;
  }

  .is,
  .fb,
  .you {
    width: 7.5rem;
    height: 5.7rem;
  }

  #page {
    margin-top: 30px;
    max-width: 96rem;
  }
}
